@use '../utilities/' as *;

body {
  color: mapGet($primary-typography-colors, text);
  font-family: mapGet($primary-typography, family);
}

p {
  font-size: mapGet($primary-typography, size--small);
  line-height: mapGet($primary-typography, line-height);
  max-width: 50rem;
  margin-bottom: mapGet($primary-typography, margin);

  @include media-query(min, xl) {
    font-size: mapGet($primary-typography, size--large);
  }

  @include media-query(min, xxl) {
    font-size: mapGet($primary-typography, size--xl);
  }
}

@include textShine;

a {
  color: mapGet($primary-typography-colors, links);

  &:not(.button) {
    &:hover,
    &:focus-visible {
      background: linear-gradient(130deg, mapGet($primary-typography-colors, links--gradient-hover));
      text-decoration: none;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 100% auto;
  
      @media (prefers-reduced-motion: no-preference) {
        animation: textShine 5s ease-in-out infinite alternate;
        background-size: 500% auto;
      }
    }
  }

  .blockquote-flow & {
    color: mapGet($blockquote-colors, links);

    &:hover,
    &:focus-visible {
      background: linear-gradient(130deg, mapGet($blockquote-colors, links--hover));
      text-decoration: none;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 100% auto;

      @media (prefers-reduced-motion: no-preference) {
        animation: textShine 5s ease-in-out infinite alternate;
        background-size: 500% auto;
      }
    }
  }

  &:has(.brand-logo){
    display: block;
    width: fit-content;
    transition: mapGet($animations, default-transition);

    .b {
      stroke: mapGet($icon-colors, brand-logo);
    }

    .c {
      fill: mapGet($icon-colors, brand-logo);
    }

    &:hover,
    &:focus-visible {
      transform: scale(1.2);

      .b {
        stroke: mapGet($icon-colors, brand-logo--hover);
      }
      
      .c {
        fill: mapGet($icon-colors, brand-logo--hover);
      }
    }
  }
}



@each $selector, $element in mapGet($heading-typography) {
  #{$selector} {
    font-family: mapGet($element, family);
    font-size: mapGet($element, size--small);
    text-align: mapGet($element, text-align);
    font-weight: mapGet($element, weight);
    margin-bottom: mapGet($element, margin-bottom);
    hyphens: mapGet($element, auto);
    line-height: mapGet($element, line-height);
    color: mapGet($primary-typography-colors, headings);
    max-width: 50rem;

    @include media-query(min, large) {
      font-size: mapGet($element, size--medium);
    }

    @media (min-width: map-get($breakpoints, xl)) {
      font-size: mapGet($element, size--large);
    }

    @supports (font-size: mapGet($element, size--clamp)) {
      font-size: mapGet($element, size--clamp);
    }
  }
}

h1,
h2,
h3 {
  &:not(.card__title, .quote) {    
    @media (prefers-reduced-motion: no-preference) {
      @include textShineDeclarations(mapGet($primary-typography-colors, headings--gradient));
    }
  }
}

h1 {
  &.small-h1 {
    font-size: mapGet($heading-typography, h2, size--small);
    
    @include media-query(min, large) {
      font-size: mapGet($heading-typography, h2, size--large);
    }
    
    @supports (font-size: mapGet($heading-typography, h2, size--clamp)) {
      font-size: mapGet($heading-typography, h2, size--clamp);
    }
  }
}

ul {
  .text-flow &,
  .mixed-flow & {
    font-size: mapGet($primary-typography, size--small);
    line-height: mapGet($primary-typography, line-height);
    max-width: 43rem;
    margin-bottom: mapGet($primary-typography, margin);
    margin-left: 2rem;

    @include media-query(min, xl) {
        font-size: mapGet($primary-typography, size--large);
      }

    @include media-query(min, xxl) {
      font-size: mapGet($primary-typography, size--xl);
    }
  }
}

li {
  .text-flow &,
  .mixed-flow & {
    margin-bottom: 1rem;

    &::marker {
      color: mapGet($primary-typography-colors, list-markers);
    }
  }
}

.primary-nav {
  a {
    text-decoration: none;
    color: mapGet($primary-nav-colors, text);
    font-size: mapGet($primary-nav-typography, size, small);

    @include media-query(min, large) {
      font-size: mapGet($primary-nav-typography, size, large);
    }

    @supports (font-size: mapGet($primary-nav-typography, size, clamp)) {
      font-size: mapGet($primary-nav-typography, size, clamp);
    }
  }
}

.primary-menu {
  list-style: none;
  
  [aria-current="page"] {
    color: mapGet($primary-nav-colors, current-page-text);
  }
}


.secondary-nav {
  @include media-query(min, large) {
    font-size: mapGet($secondary-nav-typography, lg);
  }
  
  @include media-query(min, xxl) {
    font-size: mapGet($secondary-nav-typography, xl);
  }
}

.brand-logo {
  width: 50px;
}

.card {
  list-style: none;
  
  &__title {
    font-size: mapGet($card-typography, title, size);
    font-weight: mapGet($card-typography, title, weight);
    margin-bottom: 0.25rem;
    line-height: normal;

    a {
      text-decoration: none;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: mapGet($card-typography, size);
    
    @include media-query(min, large) {
      font-size: mapGet($card-typography, size--xl);
    }
  }

  &--polaroid {
    p {
      color: mapGet($card-colors, polaroids, caption);
      text-align: center;
      margin-bottom: 0;
      font-family: mapGet($card-typography, polaroid, family);
      font-size: mapGet($card-typography, polaroid, size);
      line-height: mapGet($card-typography, polaroid, line-height);
    }
  }
}

.secondary-nav {
  &__menu {
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}

.article {
  &-summary {
    p {
      background-color: mapGet($article-colors, summary-container, background);
      padding: 1rem;
      box-shadow: 5px 5px 0px mapGet($article-colors, summary-container, box-shadow);
      border-radius: 4px;
      margin-bottom: 2rem;
    }
  }

  &-links {
    list-style: none;
  }
}

figcaption {
  .img-flow & {    
    line-height: mapGet($primary-typography, line-height);
  
    @include media-query(min, large) {
      font-size: mapGet($figcaption-typography, lg);
    }
    @include media-query(min, xxl) {
      font-size: mapGet($figcaption-typography, xl);
    }
  }
}

blockquote {
  h1 {
    font-size: mapGet($blockquote-typography, quote, size--small);
    font-family: mapGet($blockquote-typography, quote, family);
    font-weight: mapGet($blockquote-typography, quote, weight);
    line-height: mapGet($blockquote-typography, quote, line-height);
    color: mapGet($blockquote-colors, text);
    max-width: 100%;
    z-index: 2;
    text-align: center;
    
    @include media-query(min, large) {
      font-size: mapGet($blockquote-typography, quote, size--medium);
    }
    
    @include media-query(min, xl) {
      font-size: mapGet($blockquote-typography, quote, size--large);
    }
  
    @supports (font-size: mapGet($blockquote-typography, quote, size--clamp)) {
      font-size: mapGet($blockquote-typography, quote, size--clamp);
    }
  }
}

.blockquote {
  &-flow {   
    color: mapGet($blockquote-colors, text);

    %blockquote-icons {
      position: absolute;
      font-size: 5rem;
      color: mapGet($blockquote-colors, icons);
      z-index: 0;
  
      @include media-query(min, large) {
        font-size: 10rem;
      }
    }
  
    [class*="fa-quote"] {
      @extend %blockquote-icons;
    }
  
    .fa-quote {
      &-left {
        left: 10px;
        top: 0;
      }
  
      &-right {
        top: 80%;
        right: 10px;
      
        @include media-query(min, large) {
          top: 70%;
        }      
      }
    }

    figcaption {
      text-align: center;
    }
  }

  &-name {
    margin-bottom: 0.25rem;
    font-weight: mapGet($blockquote-typography, name, weight);
    color: mapGet($blockquote-colors, text);
  }
}

.button {
  font-size: 1.15rem;
  color: $button-color;
}

.site-options {
  legend {
    margin-bottom: 0.5rem;
    line-height: 1.6;

    @include media-query(min, large) {
    }
  }
}

.back-to-top {
  padding-top: 2rem;
  max-width: 100%;
  text-align: right;
}

.footer {
  font-size: mapGet($footer-typography, size, small);

  @include media-query(min, large) {
    font-size: mapGet($footer-typography, size, large);
  }

  p {
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.6;
  }
  
  .text-flow {
    margin-bottom: 1rem;

    @include media-query(min, large) {
      margin-bottom: 0;
    }
  }
}
  