@use '../utilities/' as *;

.button {
  display: block;
  width: fit-content;
  padding: 0.5rem;
  border: 1px solid $button-color;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.25s;

  &:hover,
  &:focus-visible {    
    box-shadow: 0 0.5em 0.5em -0.4rem $button-color;
    transform: translateY(-0.25rem);
  }
}
