@use '../utilities/' as *;

img,
.img-container {
  overflow: hidden;
  border-radius: 4px;

  .img-flow & {
    margin-bottom: 0.5rem;
  }
}

figure {
  &.img-flow {
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid mapGet($figure-colors, border);
    padding: 0.5rem;
  }
}

%responsive-embed {
  position: relative;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

[class*="responsive-embed"] {
  @extend %responsive-embed;

  .article__img-group & {
    margin-bottom: 0.5rem;
  }

  .video-embed {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.responsive-embed {
  &--portrait {
    padding-bottom: 178%;
  }
}

.blurred-preview {
  background-repeat: no-repeat;
  background-size: cover;

  img {
    opacity: 0;
  }

  &.loaded{
    img {
      opacity: 1;
    }
  }
}
