@use '../utilities/' as *;

.blockquote {
  &-flow {    
    position: relative;
    background-image: url(img/devin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 16 / 7;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 4px;

    @include media-query(min, large) {
      padding: 1rem 3rem;
      margin-bottom: 5rem;
    }

    blockquote {
      z-index: 2;
      width: 90%;
      margin: auto;
    }
  }
}
