@use '../utilities/' as *;

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  background-color: mapGet($body-colors, background);
}

.wrapper {
  @include wrapperDimensions(90%, 1200px);
}

main {
  padding: 3rem 0 5rem;

  @include media-query(min, large) {
    padding: 5rem 0;
  }
}

section,
.section {
  @include margins(bottom, 4rem, of-type);
}

.subsection {
  margin: 4rem 0 0;

  .text-flow &,
  .mixed-flow & {
    margin: 3rem 0;
    
    @include media-query(min, large) {
      margin: 4rem 0;
    }
  }
}
