@use '../utilities/' as *;

.card {
  position: relative;

  .img-container {
    margin-bottom: 0.5rem;
  }

  img {
    transition: all 200ms ease-in-out;
  }

  a {
    &:link {
      position: static;
      display: block;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &:hover,
  &:focus-visible {
    img {
      transform: scale(1.2);
    }
  }

  &--polaroid {
    padding: 1rem 1rem 0;
    background-color: mapGet($card-colors, polaroids, frame);
    box-shadow: 4px 4px 5px 0.5px mapGet($card-colors, polaroids, box-shadow);

    .text-flow {
      height: 100px;
      display: flex;
      align-items: center;
    }

    .img-container {
      background-color: mapGet($card-colors, polaroids, img-background);
      border-radius: 0;

      img {
        border-radius: 0;
        transition: all 1s ease-in-out;
        opacity: 0;
      }
    }
    
    &.fade-in {
      img {
        opacity: 1;
      }
    }
  }
}
