@use '../utilities/' as *;

.footer {
  padding: 3rem 0;
  background: linear-gradient(mapGet($footer-colors, background));
  clip-path: polygon(0 0%, 100% 30%, 100% 100%, 0% 100%);

  &__logo {
    margin-bottom: 1rem;
  }
}
