@use '../utilities/' as *;

.site-options {
  fieldset {
    border: none;
  }

  input:checked+label {
    background-color: mapGet($form-colors, input-background--active);
    color: mapGet($form-colors, label--active);
  }

  label {
    border: 1px solid mapGet($form-colors, input-border);
    padding: 0.15rem 0.35rem;
    border-radius: 4px;

    &:first-of-type {
      margin-right: 0.5rem;
    }
  }
}
