@use '../utilities/' as *;

%grid {
  display: grid;
}

[class*="grid"] {
  @extend %grid;
}

.grid {
  &--two-col {
    gap: 1.5rem;
    
    @include media-query(min, large) {
      @include two-col;
      gap: 3rem;
    }
  }

  .article__top-flow & {
    gap: 2rem;

    @include media-query(min, large) {
      grid-template-columns: repeat(5, 1fr);
      align-items: start;
    }
  }

  &--flexible {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 2rem;
    align-items: start;

    @include media-query(min, large) {
      gap: 5rem;
    }
  }

  .article__img-group & {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 2rem;
    align-items: start;
  }

  .footer & {
    @include media-query(min, large) {
      @include two-col;
      align-items: start;
    }
  }
}

// grid tracks

.article {
  &__top-flow {
    .img-container {
      @include media-query(min, large) {
        grid-column: span 3;
      }      
    }
  }

  &-summary {
    @include media-query(min, large) {
      grid-column: span 2;
    }    
  }
}

.site-options {
  @include media-query(min, large) {
    justify-self: end;
  }
}
