@use '../utilities/' as *;

.header {
  padding: 1.5rem 0 4.5rem;
  clip-path: polygon(0 0%, 100% 0, 100% 70%, 0% 100%);
  background: linear-gradient(mapGet($header-colors, background));

  &__logo {
    margin-bottom: 1.5rem;
  }
}
