@use '../utilities/' as *;

.primary-nav {
  margin-bottom: 1rem;

  @include media-query(min, large) {
    margin-bottom: 0;
  }
}

.primary-menu {
  display: flex;
  gap: 2rem;
}

.secondary-nav {
  padding: 1.5rem 0;
  
  &__menu {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
