*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

a {
  color: inherit;
}

/* Color custom properties */
:root {
  --neutral-hue: 0;
  --neutral-hs: 0, 0%;
  --brand-color-hue: 264;
  --brand-color-saturation: 50%;
  --brand-color-hs: var(--brand-color-hue), var(--brand-color-saturation);
  --accent-yellow-hs: 45, 99%;
  --accent-orange-hs--med: 34, 99%;
  --accent-orange-hs--dark: 22, 97%;
  --gradient--light-purple:
    hsl(var(--brand-color-hs), 90%),
    hsl(var(--brand-color-hs), 80%),
    hsl(var(--brand-color-hs), 70%),
    hsl(var(--brand-color-hs), 90%) ;
  --gradient--med-purple:
    hsl(var(--brand-color-hs), 50%),
    hsl(var(--brand-color-hs), 30%),
    hsl(var(--brand-color-hs), 40%),
    hsl(var(--brand-color-hs), 50%) ;
  --gradient--purple-to-black:
    45deg,
    hsl(var(--brand-color-hs), 40%), 30%,
    hsl(var(--brand-color-hs), 1%) ;
  --gradient--black-to-purple:
    300deg,
    hsl(var(--brand-color-hs), 1%), 60%,
    hsl(var(--brand-color-hs), 40%) ;
  --gradient--purple-to-white:
    180deg,
    hsl(var(--brand-color-hs), 80%),
    hsl(var(--neutral-hs), 95%) ;
  --gradient--white-to-purple:
    hsl(var(--neutral-hs), 95%), 60%,
    hsl(var(--brand-color-hs), 80%) ;
  --gradient--fire:
    hsl(var(--accent-yellow-hs), 60%),
    hsl(var(--accent-orange-hs--dark), 60%),
    hsl(var(--accent-yellow-hs), 80%),
    hsl(var(--accent-orange-hs--med), 60%) ;
  --text: hsl(var(--neutral-hs), 80%);
  --headings: hsl(var(--brand-color-hs), 75%);
  --headings--gradient: var(--gradient--light-purple);
  --list-markers: hsl(var(--brand-color-hs), 70%);
  --links: hsl(var(--brand-color-hs), 75%);
  --links--gradient-hover: var(--gradient--fire);
  --body-background: hsl(var(--brand-color-hs), 1%);
  --header-background: var(--gradient--purple-to-black);
  --aria-current-page-text: hsl(var(--accent-orange-hs--med), 50%);
  --card-title: hsl(var(--brand-color-hs), 80%);
  --polaroid-frame: hsl(var(--neutral-hue), 11%, 95%);
  --polaroid-img-background: hsl(var(--neutral-hs), 0%);
  --polaroid-caption: hsl(var(--neutral-hs), 0%);
  --polaroid-box-shadow: hsla(var(--neutral-hs), 20%, 30%);
  --summary-box-background: hsl(var(--brand-color-hs), 10%);
  --summary-box-shadow: hsl(var(--brand-color-hs), 20%);
  --label--active: hsl(var(--brand-color-hs), 10%);
  --input-background--active: hsl(var(--brand-color-hs), 80%);
  --input-border: hsl(var(--brand-color-hs), 80%);
  --figure-border: hsl(var(--brand-color-hs), 60%);
  --blockquote-text: hsl(var(--neutral-hs), 100%);
  --blockquote-icons: hsla(var(--neutral-hs), 65%, 50%);
  --blockquote-links: hsl(var(--neutral-hs), 90%);
  --blockquote-links--gradient-hover: var(--gradient--fire);
  --button-color: hsl(var(--brand-color-hs), 70%);
  --brand-logo: var(--text);
  --brand-logo--hover: hsl(var(--accent-orange-hs--med), 48%);
  --footer-background: var(--gradient--black-to-purple);
}

:root[data-color-theme=light] {
  --text: hsl(var(--neutral-hs), 13%);
  --headings: hsl(var(--brand-color-hs), 30%);
  --headings--gradient: var(--gradient--med-purple);
  --list-markers: hsl(var(--brand-color-hs), 40%);
  --links: hsl(var(--brand-color-hs), 30%);
  --links--gradient-hover: var(--gradient--med-purple);
  --body-background: hsl(var(--neutral-hs), 95%);
  --header-background: var(--gradient--purple-to-white);
  --aria-current-page-text: hsl(var(--brand-color-hs), 50%);
  --card-title: hsl(var(--brand-color-hs), 30%);
  --summary-box-background: hsl(var(--brand-color-hs), 90%);
  --summary-box-shadow: hsl(var(--brand-color-hs), 80%);
  --label--active: hsl(var(--brand-color-hs), 90%);
  --input-background--active: hsl(var(--brand-color-hs), 30%);
  --input-border: hsl(var(--brand-color-hs), 30%);
  --figure-border: hsl(var(--brand-color-hs), 40%);
  --button-color: hsl(var(--brand-color-hs), 50%);
  --brand-logo: var(--text);
  --brand-logo--hover: hsl(var(--brand-color-hs), 50%);
  --footer-background: var(--gradient--white-to-purple);
}

/* Typography custom properties */
:root {
  --primary-font-family: "Inconsolata", sans-serif;
  --secondary-font-family: "Oswald", sans-serif;
  --tertiary-font-family: "Gloria Hallelujah", cursive;
}

:root {
  --default-transition: all 200ms ease-in-out;
}

.hide--mobile {
  display: none;
}
@media (min-width: 800px) {
  .hide--mobile {
    display: block;
  }
}
@media (min-width: 800px) {
  .hide--large-bp {
    display: none;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img,
.img-container {
  overflow: hidden;
  border-radius: 4px;
}
.img-flow img,
.img-flow .img-container {
  margin-bottom: 0.5rem;
}

figure.img-flow {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--figure-border);
  padding: 0.5rem;
}

[class*=responsive-embed] {
  position: relative;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.article__img-group [class*=responsive-embed] {
  margin-bottom: 0.5rem;
}
[class*=responsive-embed] .video-embed {
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-embed--portrait {
  padding-bottom: 178%;
}

.blurred-preview {
  background-repeat: no-repeat;
  background-size: cover;
}
.blurred-preview img {
  opacity: 0;
}
.blurred-preview.loaded img {
  opacity: 1;
}

.button {
  display: block;
  width: fit-content;
  padding: 0.5rem;
  border: 1px solid var(--button-color);
  border-radius: 4px;
  text-decoration: none;
  transition: 0.25s;
}
.button:hover, .button:focus-visible {
  box-shadow: 0 0.5em 0.5em -0.4rem var(--button-color);
  transform: translateY(-0.25rem);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--body-background);
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

main {
  padding: 3rem 0 5rem;
}
@media (min-width: 800px) {
  main {
    padding: 5rem 0;
  }
}

section,
.section {
  margin-bottom: 4rem;
}
section:last-of-type,
.section:last-of-type {
  margin-bottom: 0;
}

.subsection {
  margin: 4rem 0 0;
}
.text-flow .subsection, .mixed-flow .subsection {
  margin: 3rem 0;
}
@media (min-width: 800px) {
  .text-flow .subsection, .mixed-flow .subsection {
    margin: 4rem 0;
  }
}

.header {
  padding: 1.5rem 0 4.5rem;
  clip-path: polygon(0 0%, 100% 0, 100% 70%, 0% 100%);
  background: linear-gradient(var(--header-background));
}
.header__logo {
  margin-bottom: 1.5rem;
}

.primary-nav {
  margin-bottom: 1rem;
}
@media (min-width: 800px) {
  .primary-nav {
    margin-bottom: 0;
  }
}

.primary-menu {
  display: flex;
  gap: 2rem;
}

.secondary-nav {
  padding: 1.5rem 0;
}
.secondary-nav__menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.card {
  position: relative;
}
.card .img-container {
  margin-bottom: 0.5rem;
}
.card img {
  transition: all 200ms ease-in-out;
}
.card a:link {
  position: static;
  display: block;
}
.card a::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.card:hover img, .card:focus-visible img {
  transform: scale(1.2);
}
.card--polaroid {
  padding: 1rem 1rem 0;
  background-color: var(--polaroid-frame);
  box-shadow: 4px 4px 5px 0.5px var(--polaroid-box-shadow);
}
.card--polaroid .text-flow {
  height: 100px;
  display: flex;
  align-items: center;
}
.card--polaroid .img-container {
  background-color: var(--polaroid-img-background);
  border-radius: 0;
}
.card--polaroid .img-container img {
  border-radius: 0;
  transition: all 1s ease-in-out;
  opacity: 0;
}
.card--polaroid.fade-in img {
  opacity: 1;
}

.article-links {
  display: flex;
  gap: 1rem;
}
.article__img-group {
  max-width: 43rem;
  margin-bottom: 1.5rem;
}

.blockquote-flow {
  position: relative;
  background-image: url(img/devin.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 16/7;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 3rem;
  border-radius: 4px;
}
@media (min-width: 800px) {
  .blockquote-flow {
    padding: 1rem 3rem;
    margin-bottom: 5rem;
  }
}
.blockquote-flow blockquote {
  z-index: 2;
  width: 90%;
  margin: auto;
}

.site-options fieldset {
  border: none;
}
.site-options input:checked + label {
  background-color: var(--input-background--active);
  color: var(--label--active);
}
.site-options label {
  border: 1px solid var(--input-border);
  padding: 0.15rem 0.35rem;
  border-radius: 4px;
}
.site-options label:first-of-type {
  margin-right: 0.5rem;
}

.footer {
  padding: 3rem 0;
  background: linear-gradient(var(--footer-background));
  clip-path: polygon(0 0%, 100% 30%, 100% 100%, 0% 100%);
}
.footer__logo {
  margin-bottom: 1rem;
}

[class*=grid] {
  display: grid;
}

.grid--two-col {
  gap: 1.5rem;
}
@media (min-width: 800px) {
  .grid--two-col {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
.article__top-flow .grid {
  gap: 2rem;
}
@media (min-width: 800px) {
  .article__top-flow .grid {
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
  }
}
.grid--flexible {
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  gap: 2rem;
  align-items: start;
}
@media (min-width: 800px) {
  .grid--flexible {
    gap: 5rem;
  }
}
.article__img-group .grid {
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  gap: 2rem;
  align-items: start;
}
@media (min-width: 800px) {
  .footer .grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }
}

@media (min-width: 800px) {
  .article__top-flow .img-container {
    grid-column: span 3;
  }
}
@media (min-width: 800px) {
  .article-summary {
    grid-column: span 2;
  }
}

@media (min-width: 800px) {
  .site-options {
    justify-self: end;
  }
}

body {
  color: var(--text);
  font-family: var(--primary-font-family);
}

p {
  font-size: 1.25rem;
  line-height: 1.6;
  max-width: 50rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1200px) {
  p {
    font-size: 1.35rem;
  }
}
@media (min-width: 1500px) {
  p {
    font-size: 1.5rem;
  }
}

@keyframes textShine {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
a {
  color: var(--links);
}
a:not(.button):hover, a:not(.button):focus-visible {
  background: linear-gradient(130deg, var(--links--gradient-hover));
  text-decoration: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% auto;
}
@media (prefers-reduced-motion: no-preference) {
  a:not(.button):hover, a:not(.button):focus-visible {
    animation: textShine 5s ease-in-out infinite alternate;
    background-size: 500% auto;
  }
}
.blockquote-flow a {
  color: var(--blockquote-links);
}
.blockquote-flow a:hover, .blockquote-flow a:focus-visible {
  background: linear-gradient(130deg, var(--gradient--fire));
  text-decoration: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% auto;
}
@media (prefers-reduced-motion: no-preference) {
  .blockquote-flow a:hover, .blockquote-flow a:focus-visible {
    animation: textShine 5s ease-in-out infinite alternate;
    background-size: 500% auto;
  }
}
a:has(.brand-logo) {
  display: block;
  width: fit-content;
  transition: var(--default-transition);
}
a:has(.brand-logo) .b {
  stroke: var(--brand-logo);
}
a:has(.brand-logo) .c {
  fill: var(--brand-logo);
}
a:has(.brand-logo):hover, a:has(.brand-logo):focus-visible {
  transform: scale(1.2);
}
a:has(.brand-logo):hover .b, a:has(.brand-logo):focus-visible .b {
  stroke: var(--brand-logo--hover);
}
a:has(.brand-logo):hover .c, a:has(.brand-logo):focus-visible .c {
  fill: var(--brand-logo--hover);
}

h1 {
  font-family: var(--secondary-font-family);
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
  line-height: 1.4;
  color: var(--headings);
  max-width: 50rem;
}
@media (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 6rem;
  }
}
@supports (font-size: clamp(3rem, 10vw, 6rem)) {
  h1 {
    font-size: clamp(3rem, 10vw, 6rem);
  }
}

h2 {
  font-family: var(--secondary-font-family);
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 2.25rem;
  line-height: 1.35;
  color: var(--headings);
  max-width: 50rem;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 3.25rem;
  }
}
@supports (font-size: clamp(2.5rem, 10vw, 4rem)) {
  h2 {
    font-size: clamp(2.5rem, 10vw, 4rem);
  }
}

h3 {
  font-family: var(--secondary-font-family);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--headings);
  max-width: 50rem;
}
@media (prefers-reduced-motion: no-preference) {
  h1:not(.card__title, .quote),
  h2:not(.card__title, .quote),
  h3:not(.card__title, .quote) {
    background: -webkit-linear-gradient(130deg, var(--headings--gradient));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    background-size: 500% auto;
  }
}

h1.small-h1 {
  font-size: 2.5rem;
}
@media (min-width: 800px) {
  h1.small-h1 {
    font-size: 3.25rem;
  }
}
@supports (font-size: clamp(2.5rem, 10vw, 4rem)) {
  h1.small-h1 {
    font-size: clamp(2.5rem, 10vw, 4rem);
  }
}

.text-flow ul, .mixed-flow ul {
  font-size: 1.25rem;
  line-height: 1.6;
  max-width: 43rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}
@media (min-width: 1200px) {
  .text-flow ul, .mixed-flow ul {
    font-size: 1.35rem;
  }
}
@media (min-width: 1500px) {
  .text-flow ul, .mixed-flow ul {
    font-size: 1.5rem;
  }
}

.text-flow li, .mixed-flow li {
  margin-bottom: 1rem;
}
.text-flow li::marker, .mixed-flow li::marker {
  color: var(--list-markers);
}

.primary-nav a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.25rem;
}
@media (min-width: 800px) {
  .primary-nav a {
    font-size: 1.75rem;
  }
}
@supports (font-size: clamp(1.25rem, 5vw, 1.75rem)) {
  .primary-nav a {
    font-size: clamp(1.25rem, 5vw, 1.75rem);
  }
}

.primary-menu {
  list-style: none;
}
.primary-menu [aria-current=page] {
  color: var(--aria-current-page-text);
}

@media (min-width: 800px) {
  .secondary-nav {
    font-size: 1.15rem;
  }
}
@media (min-width: 1500px) {
  .secondary-nav {
    font-size: 1.35rem;
  }
}

.brand-logo {
  width: 50px;
}

.card {
  list-style: none;
}
.card__title {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
  line-height: normal;
}
.card__title a {
  text-decoration: none;
}
.card__subtitle {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.card p {
  font-size: 1.15rem;
}
@media (min-width: 800px) {
  .card p {
    font-size: 1.35rem;
  }
}
.card--polaroid p {
  color: var(--polaroid-caption);
  text-align: center;
  margin-bottom: 0;
  font-family: var(--tertiary-font-family);
  font-size: 1.25rem;
  line-height: 1.4;
}

.secondary-nav__menu {
  list-style: none;
}
.secondary-nav__menu a {
  text-decoration: none;
}

.article-summary p {
  background-color: var(--summary-box-background);
  padding: 1rem;
  box-shadow: 5px 5px 0px var(--summary-box-shadow);
  border-radius: 4px;
  margin-bottom: 2rem;
}
.article-links {
  list-style: none;
}

.img-flow figcaption {
  line-height: 1.6;
}
@media (min-width: 800px) {
  .img-flow figcaption {
    font-size: 1.15rem;
  }
}
@media (min-width: 1500px) {
  .img-flow figcaption {
    font-size: 1.35rem;
  }
}

blockquote h1 {
  font-size: 3rem;
  font-family: var(--secondary-font-family);
  font-weight: 800;
  line-height: 1.2;
  color: var(--blockquote-text);
  max-width: 100%;
  z-index: 2;
  text-align: center;
}
@media (min-width: 800px) {
  blockquote h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1200px) {
  blockquote h1 {
    font-size: 7rem;
  }
}
@supports (font-size: clamp(3rem, 15vw, 7rem)) {
  blockquote h1 {
    font-size: clamp(3rem, 15vw, 7rem);
  }
}

.blockquote-flow {
  color: var(--blockquote-text);
}
.blockquote-flow [class*=fa-quote] {
  position: absolute;
  font-size: 5rem;
  color: var(--blockquote-icons);
  z-index: 0;
}
@media (min-width: 800px) {
  .blockquote-flow [class*=fa-quote] {
    font-size: 10rem;
  }
}
.blockquote-flow .fa-quote-left {
  left: 10px;
  top: 0;
}
.blockquote-flow .fa-quote-right {
  top: 80%;
  right: 10px;
}
@media (min-width: 800px) {
  .blockquote-flow .fa-quote-right {
    top: 70%;
  }
}
.blockquote-flow figcaption {
  text-align: center;
}
.blockquote-name {
  margin-bottom: 0.25rem;
  font-weight: 700;
  color: var(--blockquote-text);
}

.button {
  font-size: 1.15rem;
  color: var(--button-color);
}

.site-options legend {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}
.back-to-top {
  padding-top: 2rem;
  max-width: 100%;
  text-align: right;
}

.footer {
  font-size: 1rem;
}
@media (min-width: 800px) {
  .footer {
    font-size: 1.15rem;
  }
}
.footer p {
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.6;
}
.footer .text-flow {
  margin-bottom: 1rem;
}
@media (min-width: 800px) {
  .footer .text-flow {
    margin-bottom: 0;
  }
}
