@function functionName($set, $key) {
  @return map-get(map-get($colors, $set), $key);
}

@function mapGet($map, $list...) {
  @each $key in $list {
    $map: map-get($map, $key); 
    }
    @return $map;
  }




    
  