@use '../utilities/' as *;

.hide {
  &--mobile {
    display: none;

    @include media-query(min, large) {
      display: block;
    }
  }

  &--large-bp {
    
    @include media-query(min, large) {
      display: none;
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}
