/* Color custom properties */
:root {
  --neutral-hue: 0;
  --neutral-hs: 0, 0%;

  // brand
    --brand-color-hue: 264;
    --brand-color-saturation: 50%;
    --brand-color-hs: var(--brand-color-hue), var(--brand-color-saturation);

  // accents
    --accent-yellow-hs: 45, 99%;
    --accent-orange-hs--med: 34, 99%;
    --accent-orange-hs--dark: 22, 97%;

  // gradient schemes
    --gradient--light-purple: 
      hsl(var(--brand-color-hs), 90%),
      hsl(var(--brand-color-hs), 80%),
      hsl(var(--brand-color-hs), 70%),
      hsl(var(--brand-color-hs), 90%)
    ;

    --gradient--med-purple:
      hsl(var(--brand-color-hs), 50%),
      hsl(var(--brand-color-hs), 30%),
      hsl(var(--brand-color-hs), 40%),
      hsl(var(--brand-color-hs), 50%)
    ;

    --gradient--purple-to-black:
      45deg,
      hsl(var(--brand-color-hs), 40%), 30%,
      hsl(var(--brand-color-hs), 1%)
    ;

    --gradient--black-to-purple:
      300deg,
      hsl(var(--brand-color-hs), 1%), 60%,
      hsl(var(--brand-color-hs), 40%)
    ;

    --gradient--purple-to-white:
      180deg,
      hsl(var(--brand-color-hs), 80%),
      hsl(var(--neutral-hs), 95%)
    ;

    --gradient--white-to-purple: 
      hsl(var(--neutral-hs), 95%), 60%,
      hsl(var(--brand-color-hs), 80%)
    ;

    --gradient--fire: 
      hsl(var(--accent-yellow-hs), 60%),
      hsl(var(--accent-orange-hs--dark), 60%),
      hsl(var(--accent-yellow-hs), 80%),
      hsl(var(--accent-orange-hs--med), 60%)
    ;

  // dark theme colors
    // general typography
      --text: hsl(var(--neutral-hs), 80%);
      --headings: hsl(var(--brand-color-hs), 75%);
      --headings--gradient: var(--gradient--light-purple);
      --list-markers: hsl(var(--brand-color-hs), 70%);
      --links: hsl(var(--brand-color-hs), 75%);
      --links--gradient-hover: var(--gradient--fire);

    // body
      --body-background: hsl(var(--brand-color-hs), 1%);

    // header
      --header-background: var(--gradient--purple-to-black);
    
    // primary nav
      --aria-current-page-text: hsl(var(--accent-orange-hs--med), 50%);

    // cards
      --card-title: hsl(var(--brand-color-hs), 80%);
      --polaroid-frame: hsl(var(--neutral-hue), 11%, 95%);
      --polaroid-img-background: hsl(var(--neutral-hs), 0%);
      --polaroid-caption: hsl(var(--neutral-hs), 0%);
      --polaroid-box-shadow: hsla(var(--neutral-hs), 20%, 30%);

    // summary container
      --summary-box-background: hsl(var(--brand-color-hs), 10%); 
      --summary-box-shadow: hsl(var(--brand-color-hs), 20%); 

    // forms
      --label--active: hsl(var(--brand-color-hs), 10%);
      --input-background--active: hsl(var(--brand-color-hs), 80%);
      --input-border: hsl(var(--brand-color-hs), 80%);

    // figures
      --figure-border: hsl(var(--brand-color-hs), 60%);

    // blockquotes
      --blockquote-text: hsl(var(--neutral-hs), 100%);
      --blockquote-icons: hsla(var(--neutral-hs), 65%, 50%);
      --blockquote-links: hsl(var(--neutral-hs), 90%);
      --blockquote-links--gradient-hover: var(--gradient--fire);

    // buttons
      --button-color: hsl(var(--brand-color-hs), 70%);

    // icons
      --brand-logo: var(--text);
      --brand-logo--hover: hsl(var(--accent-orange-hs--med), 48%);

    // footer
      --footer-background: var(--gradient--black-to-purple);
}

:root[data-color-theme="light"] {
  // general typography
    --text: hsl(var(--neutral-hs), 13%);
    --headings: hsl(var(--brand-color-hs), 30%);
    --headings--gradient: var(--gradient--med-purple);
    --list-markers: hsl(var(--brand-color-hs), 40%);
    --links: hsl(var(--brand-color-hs), 30%);
    --links--gradient-hover: var(--gradient--med-purple);

  // body
    --body-background: hsl(var(--neutral-hs), 95%);

  // header
    --header-background: var(--gradient--purple-to-white);

  // primary nav
    --aria-current-page-text: hsl(var(--brand-color-hs), 50%);

  // cards
    --card-title: hsl(var(--brand-color-hs), 30%);

  // summary container
    --summary-box-background: hsl(var(--brand-color-hs), 90%); 
    --summary-box-shadow: hsl(var(--brand-color-hs), 80%); 

  // forms
    --label--active: hsl(var(--brand-color-hs), 90%);
    --input-background--active: hsl(var(--brand-color-hs), 30%);
    --input-border: hsl(var(--brand-color-hs), 30%);

  // figures
    --figure-border: hsl(var(--brand-color-hs), 40%);
  
  // buttons
    --button-color: hsl(var(--brand-color-hs), 50%);

  // icons
    --brand-logo: var(--text);
    --brand-logo--hover: hsl(var(--brand-color-hs), 50%);

  // footer
    --footer-background: var(--gradient--white-to-purple);
}

$primary-typography-colors: (
  text: var(--text),
  headings: var(--headings),
  headings--gradient: var(--headings--gradient),
  list-markers: var(--list-markers),
  links: var(--links),
  links--gradient-hover: var(--links--gradient-hover),
);

$body-colors: (
  background: var(--body-background),
);

$header-colors: (
  background: var(--header-background),
);
  
$primary-nav-colors: (
  text: var(--text),
  current-page-text: var(--aria-current-page-text)
);

$card-colors: (
  card-title: var(--card-title),
  polaroids: (
    frame: var(--polaroid-frame),
    img-background: var(--polaroid-img-background),
    caption: var(--polaroid-caption),
    box-shadow: var(--polaroid-box-shadow)
  ),
);

$article-colors: (
  summary-container: (
    background: var(--summary-box-background),
    box-shadow: var(--summary-box-shadow)
  ),
);

$figure-colors: (
  border: var(--figure-border),
);

$blockquote-colors: (
  text: var(--blockquote-text),
  icons: var(--blockquote-icons),
  links: var(--blockquote-links),
  links--hover: var(--gradient--fire), 
);

$button-color: var(--button-color);

$icon-colors: (
  brand-logo: var(--brand-logo),
  brand-logo--hover: var(--brand-logo--hover),
);

$form-colors: (
  label: value,
  label--active: var(--label--active),
  input-background--active: var(--input-background--active),
  input-border: var(--input-border),
);

$footer-colors: (
  background: var(--footer-background),
);
