/* Typography custom properties */
:root {
  --primary-font-family: 'Inconsolata', sans-serif;
  --secondary-font-family: 'Oswald', sans-serif;
  --tertiary-font-family: 'Gloria Hallelujah', cursive;
}

$primary-typography: (
  family: (var(--primary-font-family)),
  weight: 400,
  size--small: 1.25rem,
  size--large: 1.35rem,
  size--xl: 1.5rem,
  line-height: 1.6,
  max-width: 43rem,
  margin: 1.5rem
);

$heading-typography: (
  h1: (
    family: (var(--secondary-font-family)),
    weight: 800,
    size--small: 3rem,
    size--medium: 4rem,
    size--large: 6rem,
    size--clamp: clamp(3rem, 10vw, 6rem),
    margin-bottom: 2rem,
    line-height: 1.4,
    hyphens: auto,
  ),

  h2: (
    family: (var(--secondary-font-family)),
    weight: 800,
    size--small: 2.5rem,
    size--large: 3.25rem,
    size--clamp: clamp(2.5rem, 10vw, 4rem),
    margin-bottom: 2.25rem,
    hyphens: auto,
    line-height: 1.35
  ),

  h3: (
    family: (var(--secondary-font-family)),
    weight: 700,
    size--small: 2rem,
    hyphens: auto,
    margin-bottom: 1rem
  ),
);

$primary-nav-typography: (
  size: (
    small: 1.25rem,
    large: 1.75rem,
    clamp: clamp(1.25rem, 5vw, 1.75rem)
  )
);

$secondary-nav-typography: (
  lg: 1.15rem,
  xl: 1.35rem,
);

$card-typography: (
  size: 1.15rem,
  size--xl: 1.35rem,
  
  title: (
    size: 2.5rem,
    weight: 400,
  ),
  
  polaroid: (
    family: var(--tertiary-font-family),
    size: 1.25rem,
    line-height: 1.4,
  ),
);

$figcaption-typography: (
  lg: 1.15rem,
  xl: 1.35rem,
);

$blockquote-typography: (
  quote: (
    family: var(--secondary-font-family),
    weight: 800,
    size--small: 3rem,
    size--medium: 4rem,
    size--large: 7rem,
    size--clamp: clamp(3rem, 15vw, 7rem),
    line-height: 1.2
  ),

  name: (
    weight: 700
  ),

  img-source: (
    size: 1.15rem
  )
);

$footer-typography: (
  size: (
    small: 1rem,
    large: 1.15rem
  )
);
